#chatroom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    .tagline {
        h1 {
            text-align: center;
        }
        @media screen and (max-width: 375px) {
            position: relative;
            top: 100px;
        }
    }
}